.node {
  width: 20px;
  height: 20px;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid rgba(15, 168, 215, 0.278);
  //   border: 1px solid black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
  &__finish {
    background-color: red;
  }
  &__start {
    background-color: green;
    // width: 15px;
    // height: 15px;
    // overflow: visible;
  }
  &__visited {
    animation-name: visitedAnimation;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  &__wall {
    background-color: rgb(12, 53, 71);
  }

  &__shortestPath {
    animation-name: shortestPath;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }

  @keyframes visitedAnimation {
    0% {
      border: 10px solid rgba(238, 255, 0, 0.913);
    }
    50% {
      border: 10px solid rgba(246, 90, 212, 0.913);
    }
    75% {
      border: 10px solid rgba(90, 129, 246, 0.913);
    }
    100% {
      border: 10px solid rgba(28, 153, 211, 0.457);
    }
  }

  @keyframes shortestPath {
    0% {
      transform: scale(0.6);
      background-color: rgb(255, 254, 106);
    }

    50% {
      transform: scale(1.2);
      background-color: rgb(255, 254, 106);
    }

    100% {
      transform: scale(1);
      background-color: rgb(255, 254, 106);
    }
  }
}
